.MainPage {
	position: relative;
	top:-20px;
	font-family: 'Roboto';
}
.MainPageButton {
	position: relative;
	background-color:#5222ff;
	border-top-left-radius:42px;
	border-top-right-radius:42px;
	border: none;
	text-indent:-5.24px;
	display:inline-block;
	color:#fff;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:85px;
	line-height:85px;
	width:85px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #444;
	transition: 0.2s;
}
.MainPageButton:active {
	transform: translate3d(0px, 5px, 0px);
	text-decoration: none;
}
.MainPageButton:focus {
	outline-style: none;
}
.Dislike {
	left:30px;
  border-bottom-right-radius:42px;
}
.Dislike:active {
	position:relative;
}
.Dislike:hover {
	background-color: #DF0101;
}
.Like {
	right:30px;
  border-bottom-left-radius:42px;
}
.Like:active {
	position:relative;
}
.Like:hover {
	background-color: #04B404;
}
.dog {
		border-top-left-radius:42px;
		border-top-right-radius:42px;
		position:center;
    width: 27rem;
    height: 27rem;
}
