.MainPage {
	position: relative;
	top:-20px;
}
.MainPageButton {
	position: relative;
	background-color:#5222ff;
	border-top-left-radius:42px;
	border-top-right-radius:42px;
	text-indent:-5.24px;
	border:2px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-size:8px;
	font-weight:bold;
	font-style:normal;
	height:85px;
	line-height:85px;
	width:85px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
	transition: 0.2s;
}
.MainPageButton:hover {
	background-color:#fb9e25;
}
.MainPageButton:active {
	transform: translate3d(0px, 5px, 0px);
}
.Dislike {
	left:30px;
  border-bottom-right-radius:42px;
}
.Dislike:active {
	position:relative;
}
.Like {
	right:30px;
  border-bottom-left-radius:42px;
}
.Like:active {
	position:relative;
}
.dog {
		border-top-left-radius:42px;
		border-top-right-radius:42px;
		position:center;
    width: 27rem;
    height: 27rem;
		border:2px solid #eeb44f;
}
